<div class="container-fluid">
  <h1>Public Posts</h1>
  <%= @posts.count %>
<%= will_paginate @posts %>
<table style="width:500px">
  <thead>
      <tr>
          <th>User_id</th>
          <th style="text-align:right;">Title</th>
        
          <th style="text-align:right;">Description</th>
          
      

      </tr>
  </thead>
  <tbody>
      <% @posts.each do |post| %>
          <tr>
            <td><%= post.user_id %></td>
            <td style="text-align:right;"><%= post.title %></td>
            
            <td style="text-align:right;"><%= post.description %></td>

    
          </tr>
      <% end %>
  </tbody>
</table>
<%= will_paginate @posts %>
</br>
<%= link_to t('.back', :default => t("helpers.links.back")),
              blogs_path, :class => 'btn btn-default'  %> 
</div>
