<!DOCTYPE html>
<html>
<head>
    <%= favicon_link_tag 'favicon.ico' %>

  <title>Blog</title>
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.full_name %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %></p>

    <div class="container">
       <div class="navbar-header">
      <% if @sidebar %>
        <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>
      <%= link_to image_tag("bloo.jpg", alt: "My Blog"), root_path, class: "navbar-brand" %>
    </div>

     
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          
          <li class="active"><%= link_to "Contact Us",pages_contact_us_path %></li>
          <li class="active"><%= link_to "Blog",blogs_path %></li>
          <li class="active"><%= link_to "About Us",pages_about_us_path %></li>

      </ul>
      </div>
    </div>
    
   
  </nav>
<%= yield %>  

      
        <div class="footer">
          
            
          
        </footer>
        <script src="//railsgirls.com/assets/bootstrap.js"></script>
</body>
</html>